services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: /usr/src/fastfood
    container_name: fastfood
    ports:
      - "8080:8080"
  db:
    image: mysql:8.0
    container_name: local_mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: request_fast_food_db
    ports:
      - "3306:3306"